@font-face {
	font-family: Beaufort;
	src: url(../Tipografia/Beaufort\ for\ LOL\ Bold.ttf);
}

a{
	cursor: url(../imagenes/Hola.png), auto;
}
*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	cursor: url(../imagenes/Hola.png), auto;
	background:
    url(../imagenes/zed.png) no-repeat,
	url(../imagenes/LeeSin.png) 0px 1080px no-repeat,
	url(../imagenes/Ezreal.jpg) 0px 2150px no-repeat,
	url(../imagenes/WuKong.jpg) 0px 3287px no-repeat;
	background-size: 100%;
	text-align: center;
}

header{
	width: 100%;
}

.navegacion{
	width: 1100px;
	margin: 30px auto;
	background: #333333;
	vertical-align: baseline;
    text-align: center;
    border-radius: 20px;
}

.navegacion ul{
	list-style: none;
}

.menu > li{
	position: relative;
	display: inline-block;
}

.menu > li > a{
	display: block;
	padding: 15px 50px;
	color: white;
	font-family:'Courier New', Courier, monospace;
	text-decoration: none;
	font-size: 16pt;
	position: relative;
	top: -20px;
}

.menu li a:hover{
	color: #CE7D35;
	transition: all .3s;
	border-bottom: solid 1px rgb(208,168,92);
}

/* Submenu*/

.submenu{
	position: absolute;
	background-color: #242424;
	width: 120%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.submenu li a{
	display: block;
	padding: 15px;
	color: #fff;
	font-family: 'Open sans';
	text-decoration: none;
}
.submenu li a:hover{
	border: none;
}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}
#titulo{
    height: auto;
    width: 500px;
}
#icono{
	width: auto;
	height: 50px;
	margin-top: 20px;
	margin-right: 40px;
}

/*OTRO*/
p{
	width: 600px;
	margin: auto;
	color: white;
	font-size: 18pt;
}
.mapa{
	transition: all 1s;
	height: 400px;
	margin-top: 50px;
}
.mapa:hover{
	transition: all 1s;
	height: 420px;
}
.posiciones{
	font-size: 18pt;
	background-color:#333333;
	border-radius: 20px;
	list-style: none;
	padding: 10px;
	height: 190px;
}
.posiciones li{
	margin-bottom: 6px;
}
.posiciones li:hover{
	font-size: 20pt;
}
.posiciones a{
	text-decoration: none;
	color: rgb(208, 168, 92);
}
.gan2{
	background-color: #333333;
	width: 800px;
	height: 350px;
	margin: auto;
	filter: opacity(90%);
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	padding-top: 20px;
}
h1{
	background-color: #333333;
	width: 100%;
	filter: opacity(90%);
	margin-top: 53px;
	color: rgb(208, 168, 92);
	font-size: 45pt;
}
.fondop{
	background-color: #333333;
	filter: opacity(90%);
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	width: 800px;
	padding-left: 160px;
	padding-right: 160px;
	padding-bottom: 30px;
	padding-top: 10px;
}
.mapa1{
	height: 460px;
}
#top{
	margin-top: 30px;

}
#gant{
	margin-top: 44px;
}
#toplane{
	margin-top: 30px;
	border-radius: 20px;
	width: 500px;
}
.volver{
	color: rgb(208, 168, 92);
}
.volver:visited{
	color: rgb(208, 168, 92);
}
#mid{
	margin-top: 395px;
}